.footer {
  position: relative;
  background-color: $darkBlue;
  color: $white;
  text-align: center;

  .container {
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    flex-direction: column;

    @include breakpoint-up(large) {
      flex-direction: row;
      justify-content: space-between;

      div:not(:last-child) {
        margin-right: 5rem;
      }

      div:first-child {
        text-align: start;
      }
      div:last-child {
        text-align: end;
      }
    }
  }

  &__logo {
    margin-bottom: 1rem;
    @include breakpoint-up(large) {
      padding-left: 0;
      padding-bottom: 0;
      margin-bottom: 3rem;
    }
  }

  &__social {
    margin-bottom: 1rem;
    @include breakpoint-up(large) {
      margin-bottom: 0;
    }

    a {
      padding: 1rem;
      @include breakpoint-up(large) {
        padding-left: 0;
        padding-right: 0.8rem;
        padding-bottom: 0;
      }

      svg path {
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        svg path {
          fill: $brightCyan;
        }
      }
    }
  }

  &__links {
    li {
      flex-direction: column;

      @include breakpoint-up(large) {
        text-align: start;
        margin-top: 1rem;
      }

      a {
        display: inline-block;
        margin-bottom: 0.5rem;
        color: $lightGrayishBlue;
        font-size: $font-s;
        text-align: center;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: $brightCyan;
        }

        @include breakpoint-up(large) {
          text-align: start;
          margin-bottom: 0;
        }
      }
    }
  }

  &__button {
    margin-bottom: 1.8rem;

    @include breakpoint-up(large) {
      margin-bottom: 1rem;
    }
  }

  &__button-rights {
    margin-top: 1.1rem;

    @include breakpoint-up(large) {
      margin-left: auto;
    }
  }
}
