.hero {
  position: relative;
  background-color: $veryLightGray;
  overflow: hidden;
  z-index: $z-normal;

  @include breakpoint-up(large) {
    min-height: $section-desktop-height;
  }

  .container-p-all {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__empty-div {
    min-height: 50vh;

    @include breakpoint-up(medium) {
      min-height: 560px;
      top: 100px;
    }

    @include breakpoint-up(large) {
      min-height: 600px;
      flex: 3;
      order: 2;
    }
  }

  // HERO TEXT
  &__text {
    text-align: center;

    p {
      margin: auto;

      @include breakpoint-up(medium) {
        width: 70%;
      }
    }

    @include breakpoint-up(large) {
      min-height: 600px;
      flex: 2;
      order: 1;
      text-align: left;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;

      p {
        margin: 0;
        width: 100%;
      }
    }

    @include breakpoint-up(large) {
      font-size: $font-xl;
    }
  }

  // HERO BTN
  &__button {
    margin-top: 2rem;
    margin-bottom: 1rem;

    @include breakpoint-up(medium) {
      margin-bottom: 2rem;
    }
  }

  // HERO BACKGROUND IMG .svg
  &__image-bg-intro {
    position: absolute;
    width: 100%;
    min-height: 50vh;
    z-index: $z-back;
    top: 46px;
    left: 0;
    right: 0;
    background-image: url("../images/bg-intro-mobile.svg");
    background-size: 100%;
    background-position: center 90%;
    background-repeat: no-repeat;

    @include breakpoint-up(medium) {
      min-height: 560px;
    }

    @include breakpoint-up(large) {
      min-height: 1200px;
      top: -100px;
      left: 620px;
      background-image: url("../images/bg-intro-desktop.svg");
      background-size: 86%;
      background-position: center top;
    }

    @media only screen and (min-width: 1000px) and (max-width: 1300px) {
      left: 450px;
    }
  }
}

.img-wrapper {
  position: absolute;
  width: 50%;
  min-height: 100vh;
  overflow: hidden;
  top: 0;
  right: 0;
  z-index: 5;

  img {
    width: 620px;
    height: auto;
    right: -190px;
    position: relative;
    top: -70px;
  }
}
