// COLORS
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$black: rgb(0, 0%, 0%);

// FONTS
$font-s: 0.9rem; //14px
$font-m: 1.125rem; //18px
$font-l: 2rem;
$font-xl: 2.8rem;

// SIZE
$navbar-height: 80px;
$navbar-height-mobile: 60px;
$section-desktop-height: 700px;
$section-tablet-height: 1000px;

// Z-INDEX
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;
